.modal {
	position: relative;
	padding: 40px;
	margin: 0 auto;
	// min-width: 320px;

	background-color: $white-background-color;
	transform: scale(1);
	transition: transform 250ms $transition-timing;

	@media screen and (min-width: 480px) and (orientation: portrait) {
		width: 450px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
	}

	@media screen and (min-width: 480px) and (orientation: landscape) {
		width: 450px;
		position: relative;
		padding: 40px;
		margin: 0 auto;
	}

	@media screen and (min-width: 768px) and (min-height: 725px) {
		width: 450px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
	}

	@media screen and (min-width: 1200px) {
		width: 528px;
	}
}

.backdrop--is-hidden .modal {
	transform: scale(0.3);

	@media screen and (min-width: 768px) {
		transform: translate(-50%, -50%) scale(0.3);
	}
}

.modal__title {
	display: inline-block;
	margin-bottom: 12px;

	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.03em;
	color: $secondary-text-color;

	@media screen and (min-width: 1200px) {
		line-height: 1.15;
	}
}
