/* CONTACTS*/
.contacts {
	@media screen and (max-width: 767.98px) {
		display: none;
		// display: flex;
		// flex-direction: column-reverse;
		// margin-bottom: 64px;
	}

	@media screen and (min-width: 768px) {
		margin-left: auto;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		align-items: center;
	}
}

.contacts__item {
	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	@media screen and (min-width: 1200px) {
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}

.contacts__link {
	&:hover,
	&:focus {
		color: $brand-color;
	}

	display: flex;
	font-size: 12px;
	line-height: 1.14;

	@media screen and (min-width: 1200px) {
		display: block;
		padding-top: 31px;
		padding-bottom: 31px;
	}
}

.contacts__link--email {
	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		padding-top: 20px;
	}
}

.contacts__link--phone {
	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		padding-bottom: 20px;
	}
}

.contacts__icon {
	margin-right: 10px;
	fill: currentColor;
	vertical-align: middle;
}
