/* SOCIALS*/
.socials {
  @extend %flex;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  @include centeredFlex;
  @include circle (44px);

  color: $main-icon-color;
  transition: background-color 250ms $transition-timing,
    color 250ms $transition-timing;

  &:hover,
  &:focus {
    background-color: $brand-color;
    color: $white-text-color;
  }
}

.socials__icon {
  fill: currentColor;
}

.footer__socials {
  color: $white-text-color;
  background-color: $footer-icon-bg-color;
  transition: background-color 250ms $transition-timing;
}