/* FEATURES*/
.features {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.features__item {
	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1199.98px) {
		flex-basis: calc((100% - 30px) / 2);

		&:not(:nth-child(2n)) {
			margin-right: 30px;
		}

		&:not(:nth-child(n + 3)) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 90px) / 4);

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

//  анимация картинки features scene
.features__scene {
	margin-bottom: 30px;
	height: 120px;
}

.features__container {
	@include centeredFlex();

	width: 100%;
	height: 100%;

	background-color: $secondary-bg-color;
	border-radius: 4px;

	@media screen and (min-width: 1200px) {
		transform: rotateY(0);
		transition: transform 500ms $transition-timing;

		.features__scene:hover & {
			transform: rotateY(180deg);
		}
	}
}

.features__title {
	text-align: center;
	margin-bottom: 10px;

	color: $secondary-text-color;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	@media screen and (min-width: 768px) {
		text-align: left;
	}
}

.features__text {
	line-height: 1.71;
}

// вставлять иконки через background-image
// .features__item::before {
//   display: block;
//   margin-bottom: 30px;
//   content: "";
//   height: 120px;
//   background: $secondary-bg-color;
//   border-radius: 4px;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 70px 70px;
// }

// дать дополнительные классы на item
// .features__item.icon-antenna::before {
//   background-image: url(../images/icons/antenna.svg);
// }
// .features__item.icon-clock::before {
//   background-image: url(../images/icons/clock.svg);
// }
// .features__item.icon-diagram::before {
//   background-image: url(../images/icons/diagram.svg);
// }
// .features__item.icon-astronaut::before {
//   background-image: url(../images/icons/astronaut.svg);
// }
