/* HERO */
.hero {
	max-width: 1600px;

	margin: 0 auto;
	padding-top: 118px;
	padding-bottom: 118px;

	background-color: $hero-bg-color;
	background-image: linear-gradient(to right, $hero-overlay-color, $hero-overlay-color), url(../images/bg-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;

	@media screen and (min-width: 1200px) {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.hero__title {
	margin-bottom: 30px;

	color: $white-text-color;
	font-weight: 900;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-size: 26px;
	line-height: 1.62;

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		line-height: 1.36;
	}
}
