/* WORK */

.work {
	@media screen and (max-width: 1199.98px) {
		display: none;
	}
}

.work__list {
	@extend %flex;
}

.work__item {
	position: relative;
	flex-basis: calc((100% - 60px) / 3);

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.work__wrapper {
	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 70px;

	background-color: $work-description-bg-color;
}

.work__title {
	// padding-top: 27px;
	// padding-bottom: 27px;
	color: $white-text-color;
	max-width: 100%;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
